*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: montserrat;
}

body{
    background: pink;
}

.container{
    background: white;
    max-width: 800px;
    margin: 60px auto;
    height: 1250px;
    padding: 20px;
    box-shadow: 0 2px 20px black;
}